{
    "openapi": "3.0.0",
    "info": {
        "title": "Jina Reader API",
        "version": "N/A",
        "description": "Jina Reader API openapi document",
        "x-logo": {
            "url": "/favicon.ico"
        }
    },
    "servers": [
        {
            "url": "https://r.jina.ai/"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "misc",
                    "crawl"
                ],
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "html",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "base",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/enum@0x0b"
                                }
                            ],
                            "default": "initial",
                            "description": "- Cast to: &lt; **&quot;initial&quot; | &quot;final&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;initial&#39;"
                        }
                    },
                    {
                        "name": "pdf",
                        "in": "query",
                        "schema": {
                            "oneOf": [
                                {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/FancyFile@0x0c"
                                        }
                                    ]
                                },
                                {
                                    "type": "string"
                                }
                            ],
                            "summary": "Base64 encoded PDF.",
                            "description": "Base64 encoded PDF.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "file",
                        "in": "query",
                        "schema": {
                            "oneOf": [
                                {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/FancyFile@0x0c"
                                        }
                                    ]
                                },
                                {
                                    "type": "string"
                                }
                            ],
                            "summary": "Base64 encoded file.",
                            "description": "Base64 encoded file.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "respondWith",
                        "in": "query",
                        "schema": {
                            "oneOf": [
                                {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/enum@0x0d"
                                        }
                                    ]
                                },
                                {
                                    "type": "string"
                                }
                            ],
                            "default": "content",
                            "description": "- Cast to: &lt; **&quot;content&quot; | &quot;markdown&quot; | &quot;html&quot; | &quot;text&quot; | &quot;pageshot&quot; | &quot;screenshot&quot; | &quot;vlm&quot; | &quot;readerlm-v2&quot;|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;content&#39;"
                        }
                    },
                    {
                        "name": "withGeneratedAlt",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "retainImages",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/enum@0x0e"
                                }
                            ],
                            "default": "all",
                            "description": "- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;alt&quot; | &quot;all_p&quot; | &quot;alt_p&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"
                        }
                    },
                    {
                        "name": "retainLinks",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/enum@0x0f"
                                }
                            ],
                            "default": "all",
                            "description": "- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;text&quot; | &quot;gpt-oss&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"
                        }
                    },
                    {
                        "name": "withLinksSummary",
                        "in": "query",
                        "schema": {
                            "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "nullable": true
                        }
                    },
                    {
                        "name": "withImagesSummary",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "noCache",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "noGfm",
                        "in": "query",
                        "schema": {
                            "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "nullable": true
                        }
                    },
                    {
                        "name": "cacheTolerance",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "description": "- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "targetSelector",
                        "in": "query",
                        "schema": {
                            "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "type": "string"
                        }
                    },
                    {
                        "name": "waitForSelector",
                        "in": "query",
                        "schema": {
                            "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "type": "string"
                        }
                    },
                    {
                        "name": "removeSelector",
                        "in": "query",
                        "schema": {
                            "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "type": "string"
                        }
                    },
                    {
                        "name": "keepImgDataUrl",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "withIframe",
                        "in": "query",
                        "schema": {
                            "oneOf": [
                                {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PseudoBoolean@0x10"
                                        }
                                    ]
                                },
                                {
                                    "type": "string"
                                }
                            ],
                            "description": "- Cast to: &lt; **PseudoBoolean|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "withShadowDom",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "setCookies",
                        "in": "query",
                        "schema": {
                            "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "type": "string"
                        }
                    },
                    {
                        "name": "proxyUrl",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "proxy",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "userAgent",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "engine",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "injectPageScript",
                        "in": "query",
                        "schema": {
                            "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "type": "string"
                        }
                    },
                    {
                        "name": "injectFrameScript",
                        "in": "query",
                        "schema": {
                            "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "type": "string"
                        }
                    },
                    {
                        "name": "timeout",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "description": "- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt; 0 &amp;&amp; v &lt;= 180"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "referer",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "tokenBudget",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "description": "- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "instruction",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "jsonSchema",
                        "in": "query",
                        "schema": {
                            "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "nullable": true
                        }
                    },
                    {
                        "name": "robotsTxt",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "doNotTrack",
                        "in": "query",
                        "schema": {
                            "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "nullable": true
                        }
                    },
                    {
                        "name": "respondTiming",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/enum@0x19"
                                }
                            ],
                            "description": "- Cast to: &lt; **&quot;html&quot; | &quot;visible-content&quot; | &quot;mutation-idle&quot; | &quot;resource-idle&quot; | &quot;media-idle&quot; | &quot;network-idle&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "Authorization",
                        "description": "Jina Token for authentication.\n\n- Member of &lt;JinaEmbeddingsAuthDTO&gt;\n\n- Authorization: Bearer {YOUR_JINA_TOKEN}",
                        "in": "header",
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "token"
                                }
                            ]
                        }
                    },
                    {
                        "name": "Accept",
                        "description": "Specifies your preference for the response format.\n\nSupported formats: \n- text/event-stream\n- application/json or text/json\n- text/plain",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Cache-Tolerance",
                        "description": "Sets internal cache tolerance in seconds if this header is specified with a integer.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-No-Cache",
                        "description": "Ignores internal cache if this header is specified with a value.\n\nEquivalent to X-Cache-Tolerance: 0",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Respond-With",
                        "description": "Specifies the (non-default) form of the crawled data you prefer.\n\nSupported formats: \n- markdown\n- html\n- text\n- pageshot\n- screenshot\n- content\n- any combination of the above\n- readerlm-v2\n- vlm\n\nDefault: content\n",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Wait-For-Selector",
                        "description": "Specifies a CSS selector to wait for the appearance of such an element before returning.\n\nExample: `X-Wait-For-Selector: .content-block`\n",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Target-Selector",
                        "description": "Specifies a CSS selector for return target instead of the full html.\n\nImplies `X-Wait-For-Selector: (same selector)`",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Remove-Selector",
                        "description": "Specifies a CSS selector to remove elements from the full html.\n\nExample `X-Remove-Selector: nav`",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Keep-Img-Data-Url",
                        "description": "Keep data-url as it instead of transforming them to object-url. (Only applicable when targeting markdown format)\n\nExample `X-Keep-Img-Data-Url: true`",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Proxy-Url",
                        "description": "Specifies your custom proxy if you prefer to use one.\n\nSupported protocols: \n- http\n- https\n- socks4\n- socks5\n\nFor authentication, https://user:pass@host:port",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Proxy",
                        "description": "Use a proxy server provided by us.\n\nOptionally specify two-letter country code.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Robots-Txt",
                        "description": "Load and conform to the respective robot.txt on the target origin.\n\nOptionally specify a bot UA to check against.\n\n",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "DNT",
                        "description": "When set to 1, prevent the result of this request to be cached in the system.\n\n",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Set-Cookie",
                        "description": "Sets cookie(s) to the headless browser for your request. \n\nSyntax is the same with standard Set-Cookie",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-With-Generated-Alt",
                        "description": "Enable automatic alt-text generating for images without an meaningful alt-text.\n\nNote: Does not work when `X-Respond-With` is specified",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-With-Images-Summary",
                        "description": "Enable dedicated summary section for images on the page.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-With-links-Summary",
                        "description": "Enable dedicated summary section for hyper links on the page.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Retain-Links",
                        "description": "Link retention modes.\n\nSupported modes: \n- all: all links\n- none: no links\n- text: only link text\n- gpt-oss: gpt-oss link citation format `【{id}†.*】`\n\n",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Retain-Images",
                        "description": "Image retention modes.\n\nSupported modes: \n- all: all images\n- none: no images\n- alt: only alt text\n- all_p: all images and with generated alt text\n- alt_p: only alt text and with generated alt\n\n",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-With-Iframe",
                        "description": "Enable filling iframe contents into main. (violates standards)",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-With-Shadow-Dom",
                        "description": "Enable filling shadow dom contents into main. (violates standards)",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-User-Agent",
                        "description": "Override User-Agent.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Timeout",
                        "description": "Specify timeout in seconds. Max 180.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Locale",
                        "description": "Specify browser locale for the page.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Referer",
                        "description": "Specify referer for the page.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Token-Budget",
                        "description": "Specify a budget in tokens.\n\nIf the resulting token cost exceeds the budget, the request is rejected.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Respond-Timing",
                        "description": "Explicitly specify the respond timing. One of the following:\n\n- html: directly return unrendered HTML\n- visible-content: return immediately when any content becomes available\n- mutation-idle: wait for DOM mutations to settle and remain unchanged for at least 0.2s\n- resource-idle: wait for no additional resources that would affect page logic and content has SUCCEEDED loading in 0.5s\n- media-idle: wait for no additional resources, including media resources, has SUCCEEDED loading in 0.5s\n- network-idle: wait for full load of webpage, also known as networkidle0.\n\n",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Engine",
                        "description": "Specify the engine to use for crawling.\n\nSupported: browser, direct, cf-browser-rendering",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Base",
                        "description": "Select base modes of relative URLs.\n\nSupported: initial, final",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Md-Heading-Style",
                        "description": "Heading style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: setext, atx",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Md-Hr",
                        "description": "Hr text of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Md-Bullet-List-Marker",
                        "description": "Bullet list marker of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: -, +, *",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Md-Em-Delimiter",
                        "description": "Em delimiter of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: _, *",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Md-Strong-Delimiter",
                        "description": "Strong delimiter of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: **, __",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Md-Link-Style",
                        "description": "Link style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: inlined, referenced, discarded",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Md-Link-Reference-Style",
                        "description": "Link reference style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: full, collapsed, shortcut, discarded",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "ReaderEnvelopeWrappedString",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "number",
                                                    "summary": "Envelope code.\n\nMirror of HTTP status code",
                                                    "description": "[REQUIRED]\n\nEnvelope code.\n\nMirror of HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;\n\n- Defaults to: 200",
                                                    "default": 200
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "summary": "Envelope status.\n\nIn extension to HTTP status code",
                                                    "description": "[REQUIRED]\n\nEnvelope status.\n\nIn extension to HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;\n\n- Defaults to: 20000",
                                                    "default": 20000
                                                },
                                                "data": {
                                                    "type": "string",
                                                    "summary": "The result payload you expect",
                                                    "description": "The result payload you expect\n\n- Cast to: &lt; **string** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;"
                                                },
                                                "meta": {
                                                    "description": "The metadata that the payload sometimes came with\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;",
                                                    "nullable": true,
                                                    "summary": "The metadata that the payload sometimes came with"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "status"
                                            ],
                                            "primitive": true
                                        },
                                        {
                                            "title": "ReaderEnvelopeWrappedObject",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "number",
                                                    "summary": "Envelope code.\n\nMirror of HTTP status code",
                                                    "description": "[REQUIRED]\n\nEnvelope code.\n\nMirror of HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;\n\n- Defaults to: 200",
                                                    "default": 200
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "summary": "Envelope status.\n\nIn extension to HTTP status code",
                                                    "description": "[REQUIRED]\n\nEnvelope status.\n\nIn extension to HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;\n\n- Defaults to: 20000",
                                                    "default": 20000
                                                },
                                                "data": {
                                                    "description": "The result payload you expect\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;",
                                                    "nullable": true,
                                                    "summary": "The result payload you expect"
                                                },
                                                "meta": {
                                                    "description": "The metadata that the payload sometimes came with\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;",
                                                    "nullable": true,
                                                    "summary": "The metadata that the payload sometimes came with"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "status"
                                            ],
                                            "primitive": true
                                        }
                                    ]
                                }
                            }
                        },
                        "headers": {}
                    }
                },
                "summary": "getIndex"
            },
            "post": {
                "tags": [
                    "crawl"
                ],
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "html",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "base",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/enum@0x0b"
                                }
                            ],
                            "default": "initial",
                            "description": "- Cast to: &lt; **&quot;initial&quot; | &quot;final&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;initial&#39;"
                        }
                    },
                    {
                        "name": "pdf",
                        "in": "query",
                        "schema": {
                            "oneOf": [
                                {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/FancyFile@0x0c"
                                        }
                                    ]
                                },
                                {
                                    "type": "string"
                                }
                            ],
                            "summary": "Base64 encoded PDF.",
                            "description": "Base64 encoded PDF.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "file",
                        "in": "query",
                        "schema": {
                            "oneOf": [
                                {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/FancyFile@0x0c"
                                        }
                                    ]
                                },
                                {
                                    "type": "string"
                                }
                            ],
                            "summary": "Base64 encoded file.",
                            "description": "Base64 encoded file.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "respondWith",
                        "in": "query",
                        "schema": {
                            "oneOf": [
                                {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/enum@0x0d"
                                        }
                                    ]
                                },
                                {
                                    "type": "string"
                                }
                            ],
                            "default": "content",
                            "description": "- Cast to: &lt; **&quot;content&quot; | &quot;markdown&quot; | &quot;html&quot; | &quot;text&quot; | &quot;pageshot&quot; | &quot;screenshot&quot; | &quot;vlm&quot; | &quot;readerlm-v2&quot;|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;content&#39;"
                        }
                    },
                    {
                        "name": "withGeneratedAlt",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "retainImages",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/enum@0x0e"
                                }
                            ],
                            "default": "all",
                            "description": "- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;alt&quot; | &quot;all_p&quot; | &quot;alt_p&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"
                        }
                    },
                    {
                        "name": "retainLinks",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/enum@0x0f"
                                }
                            ],
                            "default": "all",
                            "description": "- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;text&quot; | &quot;gpt-oss&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"
                        }
                    },
                    {
                        "name": "withLinksSummary",
                        "in": "query",
                        "schema": {
                            "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "nullable": true
                        }
                    },
                    {
                        "name": "withImagesSummary",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "noCache",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "noGfm",
                        "in": "query",
                        "schema": {
                            "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "nullable": true
                        }
                    },
                    {
                        "name": "cacheTolerance",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "description": "- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "targetSelector",
                        "in": "query",
                        "schema": {
                            "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "type": "string"
                        }
                    },
                    {
                        "name": "waitForSelector",
                        "in": "query",
                        "schema": {
                            "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "type": "string"
                        }
                    },
                    {
                        "name": "removeSelector",
                        "in": "query",
                        "schema": {
                            "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "type": "string"
                        }
                    },
                    {
                        "name": "keepImgDataUrl",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "withIframe",
                        "in": "query",
                        "schema": {
                            "oneOf": [
                                {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PseudoBoolean@0x10"
                                        }
                                    ]
                                },
                                {
                                    "type": "string"
                                }
                            ],
                            "description": "- Cast to: &lt; **PseudoBoolean|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "withShadowDom",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "setCookies",
                        "in": "query",
                        "schema": {
                            "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "type": "string"
                        }
                    },
                    {
                        "name": "proxyUrl",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "proxy",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "userAgent",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "engine",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "injectPageScript",
                        "in": "query",
                        "schema": {
                            "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "type": "string"
                        }
                    },
                    {
                        "name": "injectFrameScript",
                        "in": "query",
                        "schema": {
                            "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "type": "string"
                        }
                    },
                    {
                        "name": "timeout",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "description": "- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt; 0 &amp;&amp; v &lt;= 180"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "referer",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "tokenBudget",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "description": "- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "instruction",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "jsonSchema",
                        "in": "query",
                        "schema": {
                            "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "nullable": true
                        }
                    },
                    {
                        "name": "robotsTxt",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "doNotTrack",
                        "in": "query",
                        "schema": {
                            "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "nullable": true
                        }
                    },
                    {
                        "name": "respondTiming",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/enum@0x19"
                                }
                            ],
                            "description": "- Cast to: &lt; **&quot;html&quot; | &quot;visible-content&quot; | &quot;mutation-idle&quot; | &quot;resource-idle&quot; | &quot;media-idle&quot; | &quot;network-idle&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "Authorization",
                        "description": "Jina Token for authentication.\n\n- Member of &lt;JinaEmbeddingsAuthDTO&gt;\n\n- Authorization: Bearer {YOUR_JINA_TOKEN}",
                        "in": "header",
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "token"
                                }
                            ]
                        }
                    },
                    {
                        "name": "Accept",
                        "description": "Specifies your preference for the response format.\n\nSupported formats: \n- text/event-stream\n- application/json or text/json\n- text/plain",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Cache-Tolerance",
                        "description": "Sets internal cache tolerance in seconds if this header is specified with a integer.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-No-Cache",
                        "description": "Ignores internal cache if this header is specified with a value.\n\nEquivalent to X-Cache-Tolerance: 0",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Respond-With",
                        "description": "Specifies the (non-default) form of the crawled data you prefer.\n\nSupported formats: \n- markdown\n- html\n- text\n- pageshot\n- screenshot\n- content\n- any combination of the above\n- readerlm-v2\n- vlm\n\nDefault: content\n",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Wait-For-Selector",
                        "description": "Specifies a CSS selector to wait for the appearance of such an element before returning.\n\nExample: `X-Wait-For-Selector: .content-block`\n",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Target-Selector",
                        "description": "Specifies a CSS selector for return target instead of the full html.\n\nImplies `X-Wait-For-Selector: (same selector)`",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Remove-Selector",
                        "description": "Specifies a CSS selector to remove elements from the full html.\n\nExample `X-Remove-Selector: nav`",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Keep-Img-Data-Url",
                        "description": "Keep data-url as it instead of transforming them to object-url. (Only applicable when targeting markdown format)\n\nExample `X-Keep-Img-Data-Url: true`",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Proxy-Url",
                        "description": "Specifies your custom proxy if you prefer to use one.\n\nSupported protocols: \n- http\n- https\n- socks4\n- socks5\n\nFor authentication, https://user:pass@host:port",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Proxy",
                        "description": "Use a proxy server provided by us.\n\nOptionally specify two-letter country code.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Robots-Txt",
                        "description": "Load and conform to the respective robot.txt on the target origin.\n\nOptionally specify a bot UA to check against.\n\n",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "DNT",
                        "description": "When set to 1, prevent the result of this request to be cached in the system.\n\n",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Set-Cookie",
                        "description": "Sets cookie(s) to the headless browser for your request. \n\nSyntax is the same with standard Set-Cookie",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-With-Generated-Alt",
                        "description": "Enable automatic alt-text generating for images without an meaningful alt-text.\n\nNote: Does not work when `X-Respond-With` is specified",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-With-Images-Summary",
                        "description": "Enable dedicated summary section for images on the page.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-With-links-Summary",
                        "description": "Enable dedicated summary section for hyper links on the page.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Retain-Links",
                        "description": "Link retention modes.\n\nSupported modes: \n- all: all links\n- none: no links\n- text: only link text\n- gpt-oss: gpt-oss link citation format `【{id}†.*】`\n\n",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Retain-Images",
                        "description": "Image retention modes.\n\nSupported modes: \n- all: all images\n- none: no images\n- alt: only alt text\n- all_p: all images and with generated alt text\n- alt_p: only alt text and with generated alt\n\n",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-With-Iframe",
                        "description": "Enable filling iframe contents into main. (violates standards)",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-With-Shadow-Dom",
                        "description": "Enable filling shadow dom contents into main. (violates standards)",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-User-Agent",
                        "description": "Override User-Agent.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Timeout",
                        "description": "Specify timeout in seconds. Max 180.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Locale",
                        "description": "Specify browser locale for the page.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Referer",
                        "description": "Specify referer for the page.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Token-Budget",
                        "description": "Specify a budget in tokens.\n\nIf the resulting token cost exceeds the budget, the request is rejected.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Respond-Timing",
                        "description": "Explicitly specify the respond timing. One of the following:\n\n- html: directly return unrendered HTML\n- visible-content: return immediately when any content becomes available\n- mutation-idle: wait for DOM mutations to settle and remain unchanged for at least 0.2s\n- resource-idle: wait for no additional resources that would affect page logic and content has SUCCEEDED loading in 0.5s\n- media-idle: wait for no additional resources, including media resources, has SUCCEEDED loading in 0.5s\n- network-idle: wait for full load of webpage, also known as networkidle0.\n\n",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Engine",
                        "description": "Specify the engine to use for crawling.\n\nSupported: browser, direct, cf-browser-rendering",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Base",
                        "description": "Select base modes of relative URLs.\n\nSupported: initial, final",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Md-Heading-Style",
                        "description": "Heading style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: setext, atx",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Md-Hr",
                        "description": "Hr text of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Md-Bullet-List-Marker",
                        "description": "Bullet list marker of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: -, +, *",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Md-Em-Delimiter",
                        "description": "Em delimiter of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: _, *",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Md-Strong-Delimiter",
                        "description": "Strong delimiter of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: **, __",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Md-Link-Style",
                        "description": "Link style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: inlined, referenced, discarded",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Md-Link-Reference-Style",
                        "description": "Link reference style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: full, collapsed, shortcut, discarded",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/JinaEmbeddingsAuthDTO@0x0a"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CrawlerOptionsHeaderOnly@0x1b"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CrawlerOptions@0x1a"
                                    }
                                ]
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/JinaEmbeddingsAuthDTO@0x0a"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CrawlerOptionsHeaderOnly@0x1b"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CrawlerOptions@0x1a"
                                    }
                                ]
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "html": {
                                        "type": "string",
                                        "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "base": {
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/enum@0x0b"
                                            }
                                        ],
                                        "default": "initial",
                                        "description": "- Cast to: &lt; **&quot;initial&quot; | &quot;final&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;initial&#39;"
                                    },
                                    "pdf": {
                                        "oneOf": [
                                            {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/FancyFile@0x0c"
                                                    }
                                                ]
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "summary": "Base64 encoded PDF.",
                                        "description": "Base64 encoded PDF.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "file": {
                                        "oneOf": [
                                            {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/FancyFile@0x0c"
                                                    }
                                                ]
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "summary": "Base64 encoded file.",
                                        "description": "Base64 encoded file.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "respondWith": {
                                        "oneOf": [
                                            {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/enum@0x0d"
                                                    }
                                                ]
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "default": "content",
                                        "description": "- Cast to: &lt; **&quot;content&quot; | &quot;markdown&quot; | &quot;html&quot; | &quot;text&quot; | &quot;pageshot&quot; | &quot;screenshot&quot; | &quot;vlm&quot; | &quot;readerlm-v2&quot;|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;content&#39;"
                                    },
                                    "withGeneratedAlt": {
                                        "type": "boolean",
                                        "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "retainImages": {
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/enum@0x0e"
                                            }
                                        ],
                                        "default": "all",
                                        "description": "- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;alt&quot; | &quot;all_p&quot; | &quot;alt_p&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"
                                    },
                                    "retainLinks": {
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/enum@0x0f"
                                            }
                                        ],
                                        "default": "all",
                                        "description": "- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;text&quot; | &quot;gpt-oss&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"
                                    },
                                    "withLinksSummary": {
                                        "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                                        "nullable": true
                                    },
                                    "withImagesSummary": {
                                        "type": "boolean",
                                        "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "noCache": {
                                        "type": "boolean",
                                        "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "noGfm": {
                                        "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                                        "nullable": true
                                    },
                                    "cacheTolerance": {
                                        "type": "number",
                                        "description": "- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "targetSelector": {
                                        "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                                        "type": "string"
                                    },
                                    "waitForSelector": {
                                        "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                                        "type": "string"
                                    },
                                    "removeSelector": {
                                        "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                                        "type": "string"
                                    },
                                    "keepImgDataUrl": {
                                        "type": "boolean",
                                        "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "withIframe": {
                                        "oneOf": [
                                            {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/PseudoBoolean@0x10"
                                                    }
                                                ]
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "description": "- Cast to: &lt; **PseudoBoolean|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "withShadowDom": {
                                        "type": "boolean",
                                        "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "setCookies": {
                                        "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                                        "type": "string"
                                    },
                                    "proxyUrl": {
                                        "type": "string",
                                        "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "proxy": {
                                        "type": "string",
                                        "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "userAgent": {
                                        "type": "string",
                                        "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "engine": {
                                        "type": "string",
                                        "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "injectPageScript": {
                                        "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                                        "type": "string"
                                    },
                                    "injectFrameScript": {
                                        "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                                        "type": "string"
                                    },
                                    "timeout": {
                                        "type": "number",
                                        "description": "- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt; 0 &amp;&amp; v &lt;= 180"
                                    },
                                    "locale": {
                                        "type": "string",
                                        "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "referer": {
                                        "type": "string",
                                        "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "tokenBudget": {
                                        "type": "number",
                                        "description": "- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "instruction": {
                                        "type": "string",
                                        "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "jsonSchema": {
                                        "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                                        "nullable": true
                                    },
                                    "robotsTxt": {
                                        "type": "string",
                                        "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    },
                                    "doNotTrack": {
                                        "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                                        "nullable": true
                                    },
                                    "respondTiming": {
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/enum@0x19"
                                            }
                                        ],
                                        "description": "- Cast to: &lt; **&quot;html&quot; | &quot;visible-content&quot; | &quot;mutation-idle&quot; | &quot;resource-idle&quot; | &quot;media-idle&quot; | &quot;network-idle&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "ReaderEnvelopeWrappedString",
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "number",
                                            "summary": "Envelope code.\n\nMirror of HTTP status code",
                                            "description": "[REQUIRED]\n\nEnvelope code.\n\nMirror of HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;\n\n- Defaults to: 200",
                                            "default": 200
                                        },
                                        "status": {
                                            "type": "number",
                                            "summary": "Envelope status.\n\nIn extension to HTTP status code",
                                            "description": "[REQUIRED]\n\nEnvelope status.\n\nIn extension to HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;\n\n- Defaults to: 20000",
                                            "default": 20000
                                        },
                                        "data": {
                                            "type": "string",
                                            "summary": "The result payload you expect",
                                            "description": "The result payload you expect\n\n- Cast to: &lt; **string** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;"
                                        },
                                        "meta": {
                                            "description": "The metadata that the payload sometimes came with\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;",
                                            "nullable": true,
                                            "summary": "The metadata that the payload sometimes came with"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "status"
                                    ],
                                    "primitive": true
                                }
                            },
                            "text/event-stream": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/OutputServerEventStream@0x1c"
                                        }
                                    ]
                                }
                            }
                        },
                        "headers": {}
                    }
                },
                "summary": "crawlByPostingToIndex"
            }
        },
        "/{url}": {
            "get": {
                "tags": [
                    "crawl"
                ],
                "parameters": [
                    {
                        "name": "url",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        },
                        "required": true
                    },
                    {
                        "name": "html",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "base",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/enum@0x0b"
                                }
                            ],
                            "default": "initial",
                            "description": "- Cast to: &lt; **&quot;initial&quot; | &quot;final&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;initial&#39;"
                        }
                    },
                    {
                        "name": "pdf",
                        "in": "query",
                        "schema": {
                            "oneOf": [
                                {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/FancyFile@0x0c"
                                        }
                                    ]
                                },
                                {
                                    "type": "string"
                                }
                            ],
                            "summary": "Base64 encoded PDF.",
                            "description": "Base64 encoded PDF.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "file",
                        "in": "query",
                        "schema": {
                            "oneOf": [
                                {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/FancyFile@0x0c"
                                        }
                                    ]
                                },
                                {
                                    "type": "string"
                                }
                            ],
                            "summary": "Base64 encoded file.",
                            "description": "Base64 encoded file.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "respondWith",
                        "in": "query",
                        "schema": {
                            "oneOf": [
                                {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/enum@0x0d"
                                        }
                                    ]
                                },
                                {
                                    "type": "string"
                                }
                            ],
                            "default": "content",
                            "description": "- Cast to: &lt; **&quot;content&quot; | &quot;markdown&quot; | &quot;html&quot; | &quot;text&quot; | &quot;pageshot&quot; | &quot;screenshot&quot; | &quot;vlm&quot; | &quot;readerlm-v2&quot;|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;content&#39;"
                        }
                    },
                    {
                        "name": "withGeneratedAlt",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "retainImages",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/enum@0x0e"
                                }
                            ],
                            "default": "all",
                            "description": "- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;alt&quot; | &quot;all_p&quot; | &quot;alt_p&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"
                        }
                    },
                    {
                        "name": "retainLinks",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/enum@0x0f"
                                }
                            ],
                            "default": "all",
                            "description": "- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;text&quot; | &quot;gpt-oss&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"
                        }
                    },
                    {
                        "name": "withLinksSummary",
                        "in": "query",
                        "schema": {
                            "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "nullable": true
                        }
                    },
                    {
                        "name": "withImagesSummary",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "noCache",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "description": "- Cast to: &lt; **boolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "noGfm",
                        "in": "query",
                        "schema": {
                            "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "nullable": true
                        }
                    },
                    {
                        "name": "cacheTolerance",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "description": "- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"
                        }
                    },
                    {
                        "name": "targetSelector",
                        "in": "query",
                        "schema": {
                            "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "type": "string"
                        }
                    },
                    {
                        "name": "waitForSelector",
                        "in": "query",
                        "schema": {
                            "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "type": "string"
                        }
                    },
                    {
                        "name": "removeSelector",
                        "in": "query",
                        "schema": {
                            "description": "- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;",
                            "type": "string"
                        }
                    },
                    {
                        "name": "keepImgDataUrl",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
[...]
